@keyframes display {
  0% {
    opacity: 0;
    transform: scale(0.925);
  }
  10% {
    opacity: 1;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1);
  }
  27% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

div#container {
  position: relative;
}

div#container > div#wrapper > img {
  position: absolute;
  top: 0;
  left: calc(50% - 15vw);
  opacity: 0;
  animation: display 16s infinite;
  width: 27vw;
  border: 2px solid #000;
  object-fit: contain;
}

div#container > div#wrapper > img:nth-child(2) {
  animation-delay: 4s;
  height: 70vh;
}
div#container > div#wrapper > img:nth-child(3) {
  animation-delay: 8s;
}
div#container > div#wrapper > img:nth-child(4) {
  animation-delay: 12s;
}
