h1
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.lunch-time-widget {
    
    top: 0;
    right: 0;
    padding-top: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
  }

.Dinner-Time-Widget {
    text-align: center;
    top: 0;
    right: 0;
    padding-top: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
  }